extends layout

block content
  div.hero-section.align-items-center
    div.hero-text
      h1 Welcome!!
        br 
        | #{title}!
      p ---------------------------------------------------------------------------------------------------------
    div.hero-buttons
      div
        form(action="/items")
          button.btn.hero-cta-button.btn-success(type='submit') Shop by item
      div
      form(action="/categories")
        button.btn.hero-cta-button.btn-outline-warning(type='submit') Shop by category
        //- a.secondary-link(href='/categories') Shop by category
  div.index-img
    img(src='/images/logo1.png')