extends layout

block content
  div.hero-section.align-items-center
    div.hero-text
      h1 Welcome!!
        br 
        | #{title}!
      p ---------------------------------------------------------------------------------------------------------
    div.hero-buttons
      div
        form(action="/items")
          button.btn.hero-cta-button.btn-success(type='submit') Shop by item

      div
      form(action="/categories")
        button.btn.hero-cta-button.btn-outline-warning(type='submit') Shop by category